<!DOCTYPE html>
<html>
<head>
	<title>Url Shortening Service</title>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Bungee" rel="stylesheet">
</head>
<body>

	<h3 style="text-align: center; color: #2F59F5; margin-top: 3rem; border-bottom: 1px solid #2F59F5; padding: 1rem; font: 2rem 'Bungee', sans-serif;">URL Shortening Service</h3>

	<form method="POST" action=".">
		{% csrf_token %}

		<input name="url" type='text' placeholder="Long url...">
		<input type='submit' value="Shorten">
	</form>

</body>
</html>