<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>USS | A URL Shortening Service</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Alegreya+Sans|Bungee" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'shortener/style_base.css' %}">
</head>
<body>
	<div class="content">
		<div class="inside-content">
			{% block content %}
			<span class="main_heading">URL Shortening Service | <a href="/admin">Admin</a></span>

			<div style="display: block; text-align: center;">
				<form method="POST" action=".">
					{% csrf_token %}
					{{ form.as_p }}
					<!-- <input style="padding: 0.5rem; font: 1.2rem 'Bungee', sans-serif; border: 1px solid #323232;" name="url" type='text' placeholder="Long url..."> -->
					<input class="submit_btn" type='submit' value="Shorten">
				</form>
			</div>
			{% endblock content %}
		</div>
	</div>

</body>
</html>