<!DOCTYPE html>
<html>
<head>
	<title>Url Shortening Service</title>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Bungee" rel="stylesheet">
</head>
<body>

	<h3 style="text-align: center; color: #2F59F5; margin-top: 3rem; border-bottom: 1px solid #2F59F5; padding: 1rem; font: 2rem 'Bungee', sans-serif;">URL Shortening Service</h3>

	<h6 style="text-align: center; color: #323232; margin-top: 3rem; padding: 1rem; font: 2rem 'Alegreya Sans', sans-serif;">Your requested URL: <strong style="text-decoration: underline;">{{ url }}</strong></h6>

</body>
</html>